* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #276586;
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
  background-color: #f7f7f7;
}
.nav {
  max-width: 1300px;
  border-bottom: 1px solid #b5b7ba;
  background-color: #dfdfdf;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  padding-top: 18px;
}
.nav a {
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  padding-right: 40px;
}
.name {
  text-align: center;
  background: linear-gradient(
    0deg,
    #f9fbfd 8.84%,
    rgba(127, 129, 127, 0.404) 60%
  );
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  padding: 20px 0 0;
}
.top {
  padding: 0;
  margin-bottom: 5px;
}
.personal {
  display: flex;
}
h2 {
  padding-top: 25px;
}
p {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 21px;
  padding-top: 10px;
}
.main_photo {
  width: 360px;
  border-radius: 30px;
  margin: 25px 0 25px;
}
.info {
  max-width: 1300px;
  margin: 0 auto;
}
.servis_photo {
  max-width: 432px;
}
.content {
  display: flex;
  justify-content: space-around;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  padding-left: 25px;
  text-align: center;
}
.list {
  list-style-type: none;
  margin-top: 25px;
}
.web__list {
  padding-bottom: 25px;
}
.web__list:first-child::before {
  content: url(img/phone.svg);
  padding-right: 19px;
}
.web__list:nth-child(2)::before {
  content: url(img/web.svg);
  padding-right: 19px;
}
.web__list:last-child::before {
  content: url(img/email.svg);
  padding-right: 19px;
}
.qual {
  padding: 10px;
}
.qual_text {
  width: 600px;
}
.clik {
  color: #242424;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 31px;
  border-radius: 10px;
  background-color: lightblue;
  padding: 8px 20px;
}
#button {
  text-decoration: none;
  border: 1px solid black;
}
#userAnswer {
  margin-bottom: 25px;
  padding: 5px 10px;
}
#passw {
  padding: 25px 0;
}
.bottom {
  margin-left: 25px;
}
.footer {
  background-color: #434445;
  max-width: 1300px;
  height: 100px;
  text-align: center;
  color: #222121;
  font-size: 20px;
  font-weight: 100;
  line-height: 140px;
}
.footer_text {
  margin: 0 auto;
  height: 50px;
}
@media (max-width: 1024px) {
  .main {
    align-items: center;
  }
  .info {
    flex-direction: column;
  }
  .content {
    margin: 45px;
    padding: 0 100px 0 0;
    box-sizing: border-box;
    flex-direction: column;
  }
  .nav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .main_photo {
    max-width: 375px;
  }
  .servis_photo {
    max-width: 375px;
  }
  h1 {
    text-align: left;
    font-size: 30px;
  }
  h2 {
    text-align: left;
  }
  .top {
    text-align: left;
  }
  .footer {
    text-align: left;
  }
  .footer_text {
    color: white;
  }
}
@media (max-width: 667px) {
  .nav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  h1 {
    text-align: left;
    font-size: 30px;
  }
  .top {
    text-align: left;
  }
  .content {
    margin: 0;
  }
  .main_photo {
    width: 375px;
  }
}
